{% extends 'base.html' %}

{% load static %}

{% block css_block %}

<style>

</style>

{% endblock %}

{% block body_block %}



<footer class="text-center text-white bg-dark py-4">
        <div class="container">
            <div class="mb-4">
                <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
                <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
            </div>
            
            <div class="p-3 text-dark" style="background-color: rgba(255, 255, 255, 0.2);">
                <p>&copy; 2023 Copyright <a class="text-dark" target="_blank" href="https://www.nahidjc.xyz/"></a></p>
            </div>
        </div>
    </footer>
    


{% endblock %}